
<div id="removeongame" class="removeongame">
<div class="col-md-6 col-md-offset-3 well">

<% @questions_hash.each do |level| %>

				<% if level[1]["question1"]["question_text"] != "" %>
<%= level[1]["question1"] %>
<form id="level1">
				<h4> <%= level[1]["question1"]["question_text"]   %> </h4> 
				<p><%= level[1]["question1"]["description"] %> <br/>
				  <%= radio_button("post", "category", "option1" ) %>
				<%= level[1]["question1"]["option1"]   %><br/>
				          <%= radio_button("post", "category", "option2") %>
				<%= level[1]["question1"]["option2"]   %><br/>  <%= radio_button("post", "category", "option3") %>
				<%= level[1]["question1"]["option3"]   %><br/>  <%= radio_button("post", "category", "option4") %>
				<%= level[1]["question1"]["option4"]   %> <br/>
				<div class="alert alert-info solu" id="solution<%= level[0] %>" style="display:none;">
					<%= level[1]["question1"]["solution"] %>
				</div>
				<div id="answer" class="correct_answer">
<%= level[1]["question1"].to_s.split('"correct_answer"=>"on",')[1].to_s[2..8] %>
</div>
</form>
				<% end %>

				


<%= "<hr/>".html_safe if level[1]["question1"]["question_text"] != "" || level[1]["question2"]["question_text"] != "" || level[1]["question3"]["question_text"] != "" || level[1]["question4"]["question_text"] != "" %>
<% end %>


<%= link_to "Sumbit Quiz" , note_display_quiz_result_path(@note) , :method => :post , :class => 'btn btn-success pull-right' , remote: true  %><br/><br/>
</div>
</div>