
<div id="removeongame" class="removeongame">
<div class="col-md-10 col-md-offset-1">
<center>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Widgets:-</button>
  <button type="button" class="btn btn-default">#1</button>
  <button type="button" class="btn btn-default">#2</button>
  <button type="button" class="btn btn-default">#3</button>

</div>
</center>
<br/>
<% @note.notequestions.each do |ex| %>
<div class="col-md-8 col-md-offset-2 questions">
<div class="well">
<h3><%= ex.question_text %> </h3>
      
<ul class="list-group">
    <label><li class="list-group-item"  onclick  = '$(".questions .active").removeClass("active");$(this).addClass("active");' ><%= radio_button_tag 'option', "option1" %> <%= ex.option1 %> </li> </label>
     <label><li class="list-group-item"  onclick  =  '$(".questions .active").removeClass("active");$(this).addClass("active");'><%= radio_button_tag 'option', "option2" %> <%= ex.option2 %></li></label>
      <label><li class="list-group-item"  onclick  =  '$(".questions .active").removeClass("active");$(this).addClass("active");'> <%= radio_button_tag 'option' , "option3" %> <%= ex.option3 %></li></label> 
      <label><li class="list-group-item"  onclick  =  '$(".questions .active").removeClass("active");$(this).addClass("active");'> <%= radio_button_tag 'option' , "option4" %> <%= ex.option4 %> </li></label>
     </ul>
<%= link_to "Submit" ,'#' , :class => 'btn btn-primary pull-right' %>
<br/><br/>
</div>
</div>
<%= ex.correct_answer %>

<% end %>

      
</div>
</div>
