<center><h1>create new note</h1></center>

 <%= form_for @note  do |naw| %>
         
<div style="padding-left:15px; padding-right:15px;" class="row">
<% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-error" >
      <h4>
       <%=  pluralize(@note.errors.count, "error")  %> has been incurred
        
      </h4>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

             Title
        <%= naw.text_field :name , :class => 'form-control'  %>
         Note from author <br>
    <%= naw.text_area :note_from_author , :"data-toggle" => "tooltip" , :"data-html" => "true" , :"data-placement" => "left" , :title => "tell users wether the note requires any prerequisites and what is purpose for creating this note." , :class => 'form-control' %>
              
    
    
              Labels <br>

    <%= naw.text_field :prereq ,  :rows => "7" , :id => 'prerequisites' , :"data-toggle" => "tooltip" , :"data-html" => "true" , :"data-placement" => "left" , :title => "tell the branch, this note belongs to. example maths, programming, history etc " %><br>
            Content
<br/>
<center>
    
</div>
                       

    </div> </center>

<br/>

<script type="text/javascript">
var engine = new Bloodhound({
  
  datumTokenizer: function(d) {
    return Bloodhound.tokenizers.obj.whitespace(d.value);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
   remote: {
    url: '/profiles/intrests/%QUERY.json',
     filter: function (engine) {
            // Map the remote source JSON array to a JavaScript object array
            return $.map(engine, function (intrest) {
                return {
                    value: intrest.value
                };
            });
        }
  }

});

engine.initialize();
$('#prerequisites').tokenfield({
  typeahead: [null, { displayKey: 'value', source: engine.ttAdapter() }]
});

$('#prerequisites').on('tokenfield:createtoken', function (event) {
    var existingTokens = $(this).tokenfield('getTokens');
    $.each(existingTokens, function(index, token) {
        if (token.value === event.attrs.value)
            event.preventDefault();
    });
});
</script>

   
</div>
</div>
     
     



<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Note Content</a></li>
 <li role="presentation">    <%= link_to "Enter Exercise" , notes_new_note_change_exercise_path , :remote  => true %>  <li role="presentation"><a href="#">Javascript Applets</a></li>

  <li role="presentation">    <%= link_to "Open Video Library" , notes_openlibrary_path , :remote  => true %>
</li>
</ul>
<br/><br/>


 <%= naw.text_area :file, :id=> 'content-slide'   %>



       
    <br/>
  

    <%= naw.text_field :questions , :id => 'store_questions' , :value => '{ "level1" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} } , "level2" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} } , "level3" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} }, "level4" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} } , "level5" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} } , "level6" : { "question1": { } , "question2" : {} , "question3" : {} , "question4" : {} } }' ,:style => 'display:none;' %>
      

        <%= naw.submit "Create Note" , {:class => 'btn btn-primary btn-lg pull-right'} %>

  <% end %>
 </div>



<script type="text/javascript">

$(function() {
$.FroalaEditor.DefineIcon('my_dropdown', {NAME: 'maxcdn'});
    $.FroalaEditor.RegisterCommand('my_dropdown', {
      title: 'Insert Maths',
      type: 'dropdown',
      focus: true,
      undo: true,
      refreshAfterCallback: true,
      options: {
        'eq': 'LaTeX Equation',
        'inte': 'LaTeX Integral',
        'frac' : 'LaTeX Fraction',
        'quid' : 'LaTeX Guide' 
      },
      callback: function (cmd, val) {
          switch(val.toString())
          {
            case 'eq':
              $('#content-slide').froalaEditor('html.insert' , "$$ ax^2 + bx + c = 0 $$" , false);
            break;

            case 'inte':
              $('#content-slide').froalaEditor('html.insert' , "$$ \\int(ax^2 + bx + c)dx $$ " , false);
            break;

            case 'frac':            
              $('#content-slide').froalaEditor('html.insert' , "$$ {a+1\\over b+1} $$ " , false);
            break;

            case 'quid' :
              window.open(url,'_blank');
            break;

            default:
          }
      }
      // Callback on refre
      // Callback on dropdown show.
    });


    $('#content-slide') 
    .on('froalaEditor.initialized', function (e, editor) {
        editor.events.bindClick($('body'), '#new_level_button', function () {
          var raw_html =   $('#content-slide').froalaEditor('html.get');
          var count = (raw_html.match(/<hr>/g) || []).length + 2;
          if(count <= 6)
          {
                      editor.html.insert('<hr/> <br/>');
          }
          else
          {
                       alert('As of now you can only have 6 levels');

          }
        });
      }).froalaEditor({
      // Set custom buttons with separator between them.
        heightMin: 400,
      toolbarButtons: [ 'bold', 'italic', 'underline', 'fontFamily', 'fontSize' ,  'color' , 'strikethrough', 'subscript', 'superscript', 'outdent', 'indent', 'insertTable' , 'insertImage' , 'insertVideo' , '|','formatOL' ,'formatUL',  '|' , 'my_dropdown' ,'|' , 'undo', 'redo'  ],
      toolbarButtonsXS: ['undo', 'redo' , '-', 'bold', 'italic', 'underline'],
                  imageUploadToS3: {
             bucket: '<%= @hash[:bucket] %>',
             region: 's3-us-west-2', // Change the region if it is different
             keyStart: '<%= @hash[:key_start] %>',
             callback: function (url, key) {
            // console.log (url);
            // console.log (key);
             },
             params: {
             acl: '<%= @hash[:acl] %>',
             AWSAccessKeyId: '<%= @hash[:access_key] %>',
             policy: '<%= @hash[:policy] %>',
             signature: '<%= @hash[:signature] %>',
             }
}
    })
  });


</script>
